body {
  margin: 0;
}

textarea {
  resize: none;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  height: 30px;
  background: yellowgreen;
  display: flex;
  align-items: center;
}

.main {
  flex: 1;
  background: beige;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.col > label {
  margin: 0px 0px 5px 0px;
}

.pane {
  flex: 1;
  display: flex;
}

.pane > textarea {
  flex: 1;
  margin: 0px 5px 5px 0px;
  font-family: monospace;
}

.navbar > span.btn-group {
  margin: 0 5px;
}
